.tabs {
  display: flex;
  background-color: #555;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tab {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.tab:first-child {
  border-radius: 5px 0 0 5px;
}

.tab:last-child {
  border-radius: 0 5px 5px 0;
}

.tab.active {
  background-color: #07a;
}